<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col kontakt">
                <h5>Kontakt</h5>
                {{- partial "kontakt.html" . -}}
            </div>
            <div class="col">
                <h5>Links</h5>
                <ul class="list-unstyled quick-links">
                    <!-- TODO define using a menu instead -->
                    <li><a href="http://www.freunde-buecherei-tarp.de/"><i class="fa fa-angle-double-right"></i>Freunde
                        und Förderer der Bücherei Tarp e.V.</a></li>
                    <li><a href="http://autorenkreis-tarp.jimdo.com/"><i class="fa fa-angle-double-right"></i>Autorenkreis
                        Tarp</a></li>
                    <li><a href="http://www.bildungscampus-tarp.de/"><i class="fa fa-angle-double-right"></i>Bildungscampus
                        Tarp</a></li>
                    <li><a href="http://www.bz-sh.de/"><i class="fa fa-angle-double-right"></i>Büchereizentrale
                        Schleswig-Holstein</a></li>
                    <li><a href="https://zksh.lmscloud.net/cgi-bin/koha/opac-main.pl"><i
                            class="fa fa-angle-double-right"></i>Zentral-Katalog</a></li>
                </ul>
            </div>
            <div class="col">
                <h5>Informationen</h5>
                <ul class="list-unstyled quick-links">
                    <!-- TODO define using a menu instead -->
                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Benutzungsordnung</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Entgeltordnung</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Datenschutzerklärung</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Terms & Conditions</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Impressum</a></li>
                </ul>
            </div>
            <div class="col kontakt">
                <h5>Öffnungszeiten</h5>
            </div>
        </div>
    </div>
</section>
