<head>
    <meta charset="utf-8">
    <title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="/img/Favicon96x97.png" sizes="96x97">
    <link rel="apple-touch-icon" href="/img/Logo.png">
    <meta name="Description" content="Webseite der Bücherei Tarp.">


    <meta name="theme-color" content="#2a62dd"/>

    <link rel="manifest" href="/manifest.json">

    <link rel="stylesheet"
          href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
          integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

    {{ $footer_cssOpts := (dict "targetPath" "css/footer.css" ) }}
    {{ $footer_styles := resources.Get "scss/footer.scss" | resources.ExecuteAsTemplate "style.footer.css" . | toCSS $footer_cssOpts | minify | fingerprint }}

    <link rel="stylesheet" href="{{ $footer_styles.RelPermalink }}" integrity="{{ $footer_styles.Data.Integrity }}" crossorigin="anonymous"/>

    {{ $body_cssOpts := (dict "targetPath" "css/body.css" ) }}
    {{ $body_styles := resources.Get "scss/body.scss" | resources.ExecuteAsTemplate "style.body.css" . | toCSS $body_cssOpts | minify | fingerprint }}

    <link rel="stylesheet" href="{{ $body_styles.RelPermalink }}" integrity="{{ $body_styles.Data.Integrity }}" crossorigin="anonymous"/>
</head>
