<header>

    <nav class="navbar navbar-expand-lg fixed-top navbar-light" style="background-color: #2a62dd;">
        <a class="navbar-brand" href="{{ "/" | relURL}}">
            <picture>
                <source type="image/webp" srcset="/img/Logo.webp" width="30" height="30">
                <source type="image/jp2" srcset="/img/Logo.jp2" width="30" height="30">
                <img src="/img/Logo.png" alt="Wappen Tarp" width="30" height="30">
            </picture>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {{ $currentPage := . }}

            <ul class="navbar-nav mr-auto">
                {{ range .Site.Menus.left }}
                    <li class="navbar-item {{if or ($currentPage.IsMenuCurrent "left" .) ($currentPage.HasMenuCurrent "left" .) }} active{{end}}">
                        <a class="nav-link" href="{{ .URL }}" title="{{ .Name }}">{{ .Name }}</a>
                    </li>
                {{ end }}

            </ul>

            <ul class="navbar-nav mr-auto">
                {{ range .Site.Menus.center }}
                <li class="navbar-item {{if or ($currentPage.IsMenuCurrent "center" .) ($currentPage.HasMenuCurrent "center" .) }} active{{end}}">
                <a class="nav-link" href="{{ .URL }}" title="{{ .Name }}">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>

            <ul class="navbar-nav justify-content-end">
                {{ range .Site.Menus.right }}
                <li class="navbar-item {{if or ($currentPage.IsMenuCurrent "right" .) ($currentPage.HasMenuCurrent "right" .) }} active{{end}}">
                <a class="nav-link" href="{{ .URL }}" title="{{ .Name }}">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>

        </div>
    </nav>

   <!-- <nav class="navbar navbar-expand-lg fixed-top navbar-light" style="background-color: #2a62dd;" role="navigation">
        <a class="navbar-brand" href="#">
            <picture>
                <source type="image/webp" srcset="/img/Logo.webp" width="30" height="30">
                <source type="image/jp2" srcset="/img/Logo.jp2" width="30" height="30">
                <img src="/img/Logo.png" alt="Wappen Tarp" width="30" height="30">
            </picture>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav justify-content-start">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://212.7.136.153/iopac/index.htm">Katalog und Leserkonto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="http://www1.onleihe.de/schleswig_holstein/frontend/welcome,51-0-0-100-0-0-1-0-0-0-0.html">Onleihe
                        zwischen den Meeren</a>
                </li>

            </ul>
            <ul class="navbar-nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="#">Benutzungsordnung</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Entgeldordnung</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Datenschutzerklärung</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Impressum</a>
                </li>
            </ul>

            <ul class="navbar-nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="http://www.amazon.de/registry/wishlist/3DP4PSW5P1UYL">Zur Wunschliste der
                        Bücherei...</a>
                </li>
            </ul>

        </div>
    </nav>-->
</header>
